<!-- <h1>Questions#answer</h1> -->
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<h1><strong>Stupid Coaching</strong></h1>

<p>You're saying: <%= @question %></p>
<p>Coach replies: <%= @answer %></p>


<%= link_to "Ask a new question", ask_path %>
